In [1]:
from redshift_utils import load_to_redshift,conn_redshift
import pandas as pd
from api_utils import init_settings

start_date,end_date = init_settings()

In [2]:
df = pd.read_csv(f'data/02_transformed/{start_date}_{end_date}.csv')
df.head()

,date,lat,long,country,city,mintemp_c,maxtemp_c,avgtemp_c,avghumidity,totalprecip_mm,description,cloud_coverage,rain,rain_tomorrow,mean_avghumidity_3days,humidity_ratio
0,2023-04-01,-34.59,-58.67,Argentina,Buenos Aires,11.3,23.8,17.0,54.0,0.0,partly cloudy,1,0,0.0,NaN,NaN
1,2023-04-02,-34.59,-58.67,Argentina,Buenos Aires,14.6,28.1,20.8,53.0,0.0,partly cloudy,1,0,1.0,NaN,-0.02
2,2023-04-03,-34.59,-58.67,Argentina,Buenos Aires,15.2,19.9,17.6,88.0,26.0,light rain shower,1,1,0.0,NaN,0.66
3,2023-04-04,-34.59,-58.67,Argentina,Buenos Aires,14.9,24.8,19.1,78.0,0.0,fog,1,0,1.0,65.0,-0.11
4,2023-04-05,-34.59,-58.67,Argentina,Buenos Aires,17.6,24.7,20.5,71.0,0.1,patchy rain possible,1,1,0.0,73.0,-0.09

In [3]:
conn_db_coder = conn_redshift(".env/pwd_coder.txt")
load_to_redshift(conn=conn_db_coder, table_name="forecast",dataframe=df,pk="date")

Connected to Redshift successfully!

SyntaxError: syntax error at or near "DATE"
LINE 2:         ALTER TABLE forecast ALTER COLUMN date DATE NOT NULL...
                                                       ^